.page-container {
    padding: 10px;
    margin-top: 60px;
    position: relative;
    width: 100%;
    @import "components/body/sidebar";
    @import "components/body/content";
    @media screen and (max-width: 1000px) {
        .main-wrapper {
            width: 100%;
            margin-left: 0;
        }
    }
    @media screen and (max-width: 680px) {
        .main-wrapper {
            margin: 0;
        }

        .page-container {
            padding: 0;
        }
    }
}
