$min-height: 140px;
$background-default-impage: url('/image/default_assets/presentation/default_photo.png');

input[type='file'] {
    display: none;
}

.photo-bg {
    background: $background-default-impage no-repeat center center;
    background-size: contain;
}

.photo-bg-change {
    background: rgba(0,0,0,0.1);
    margin-top: 5px;
}

.file-uploader {

    label {
        margin-bottom: 10px;
    }

    .photo-area {
        margin: 10px 0;

        .no-image-previewer {
            height: 200px;
        }

        img {
            width: 100%;
        }
    }
}

.crop-area {

    .crop-photo {
        height: 200px;
        margin: 10px 0;
    }

    .cropped-photo {
        margin-bottom: 10px;

        .square-photo {
            display: block;
            width: 100%;
            height: 150px;
            text-align: center;
        }
    }
}
