.pet-create {
    min-width: 100%;
}

.no-spacing {
    padding: 0px;
    margin: 0px;
}

// .photo-container-transition {
//     display: block;
//     transition: all 2s ease-in-out;
// }

.photo-square {

    .file-uploader {
        display: none;
    }
}

.photo-lanscape {

    .crop-area {
        display: none;
    }
}

.create-body {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.create-list {
    margin-right: auto;
    margin-left: auto;

    label {
        margin-bottom: 0px;
    }

    .weight, .height {
        display: flex;
        flex-direction: row;
    }


    .radio-group {
        display: flex;

        .form-check {
            display: flex;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 2em;
        }
        .form-check-label {
            height: 25px;

            input[type="checkbox"] + span {
                color: #f2f2f2;
                background: #d2d2d2;
            }
        }
    }
}
.create-btn {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 340px) {
    .create-list {
        padding-left: 0;
        padding-right: 0;
        max-width: 255px;
    }
}
