.header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1000;
    flex-direction: row;
    height: 60px;
    background: #3B3F51;
    box-shadow: rgba(0, 0, 1, 0.4) 0 0 .1px;

    .logo {
        font-size: 25px;
        position: relative;
        display: flex;
        letter-spacing: -1px;
        color: #337ab7;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        order: 1;

        a {
            text-decoration: none;

            &:hover {
                color: #ccc;
            }
        }
    }

    .sidebar-toggler {
        cursor: pointer;
        margin: 0;

        &:hover .fa {
            color: #9B9B9B;
        }
    }

    .action {
        order: 2;
    }

    .nav {
        order: 3;
    }
    @media screen and (min-width: 728px) {
        .header {
            display: flex;
            border-radius: 2px;
            box-shadow: rgba(0, 0, 1, 0.1) 2px 2px .5px;
            border: .5px solid white;
        }

        .logo {
            width: 255px;
            position: relative;
            display: flex;

            .logo-text {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 20px;
                font-size: 1em;
                color: #F5F7FA;
                text-decoration: none;
            }

            .menu-area {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: auto;

                .sidebar-toggler {
                    font-size: 1em;
                    color: #F5F7FA;
                    text-decoration: none;
                }
            }
        }

        .nav {
            width: calc(100% - 255px);
            position: relative;
            display: flex;
            padding-top: 0;
            padding-bottom: 0;

            .list-icons {
                display: flex;
                list-style: none;
                width: 100%;
                justify-content: flex-end;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;

                li {
                    margin: auto 10px;

                    span {
                        color: #ffffff;
                        margin-top: auto;
                        margin-bottom: auto;
                    }

                    img {
                        border-radius: 50px;
                        height: 35px;
                        width: 35px;
                    }
                }

                .fa {
                    color: #ffffff;
                    font-size: 15px;
                    font-weight: 300;

                    &:hover {
                        cursor: pointer;
                        color: #ccc;
                    }
                }
            }
        }

        .action {
            display: none;
        }
    }

    @media screen and (max-width: 680px) {
        .logo .menu-area {
            display: flex;
            justify-content: center;
        }
    }

    @media screen and (min-width: 681px) and (max-width: 727px) {
        .header {
            display: flex;
            border-radius: 2px;
            box-shadow: rgba(0, 0, 1, 0.1) 2px 2px .5px;
            border: .5px solid white;
        }

        .logo {
            width: 255px;
            position: relative;
            display: flex;

            .logo-text {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 20px;
                font-size: .9em;
                color: #F5F7FA;
                text-decoration: none;
            }

            .menu-area {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: auto;
            }

            .sidebar-toggler {
                font-size: .9em;
                color: #F5F7FA;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: auto;
                text-decoration: none;
            }
        }

        .nav {
            width: calc(100% - 255px);
            justify-content: flex-end;
            margin-top: auto;
            margin-bottom: auto;

            .list-icons {
                display: flex;
                list-style: none;
                height: 100%;
                justify-content: flex-end;
                margin-top: auto;
                margin-bottom: auto;

                li {
                    margin: auto 10px;

                    span {
                        color: #ffffff;
                    }

                    img {
                        border-radius: 50px;
                        height: 35px;
                        width: 35px;
                    }
                }

                .fa {
                    color: #ffffff;
                    font-size: 15px;
                    font-weight: 300;

                    &:hover {
                        cursor: pointer;
                        color: #ccc;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 680px) {
        .header {
            display: flex;
            flex-wrap: wrap;
            flex-flow: row wrap;
            height: auto;
            border-radius: 2px;
            box-shadow: rgba(0, 0, 1, 0.1) 2px 2px .5px;
            border: .5px solid white;
        }

        .logo {
            display: flex;
            width: 100%;
            height: 50%;
            position: relative;
            border-radius: 2px;
            padding-top: 6px;

            .logo-text {
                margin-left: 20px;
                margin-bottom: 24px;
                font-size: .7em;
                color: #F5F7FA;
                text-decoration: none;
            }

            .menu-area {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 20px;

                .sidebar-toggler {
                    font-size: .7em;
                    color: #F5F7FA;
                    text-decoration: none;
                }
            }
        }

        .action {
            display: none;
        }

        .nav {
            width: 100%;
            height: 50%;
            display: flex;
            position: relative;
            border-radius: 2px;
            box-shadow: rgba(0, 0, 1, 0.1) 2px 2px .5px;
            padding: 0 0 6px;

            .list-icons {
                display: flex;
                letter-spacing: 1.5em;
                list-style: none;
                width: inherit;
                margin: 0;
                height: 100%;
                justify-content: flex-end;

                li {
                    margin: auto 10px;

                    span {
                        display: none;
                    }

                    img {
                        border-radius: 50px;
                        height: 25px;
                        width: 25px;
                    }
                }

                .fa {
                    color: #ffffff;
                    font-size: 15px;
                    font-weight: 300;

                    &:hover {
                        cursor: pointer;
                        color: #ccc;
                    }
                }
            }
        }
    }
}
