.layout {
    padding: 15px;
}


.frame {
    width: 100%;

    .content {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.nav-tabs {

    .nav-link {
        border: none;
        border-bottom: 1px solid #ddd;
    }

    .active {
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: none;
    }
}

.card {
    position: relative;

    .card-footer {
        opacity: 0;
        position: absolute;
        top: 0px;
        right: 0px;

        .btn {
            height: 35px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .price {
        z-index: 1000;
        position: absolute;
        left: 5px;
        bottom: 65px;
        font-size: 1em;
        color: #fff;
        font-weight: 700;
        opacity: 0;
        background: rgba(0, 0, 0, 0.6);
    }

    &.no-border {
        border-radius: 0px !important;
    }

    &:hover .card-footer {
        opacity: 1;
    }

    &:hover .price {
        opacity: 1;
    }
}

.card-detail {
    width: 100%;

    .photo-area {
        background: #000;

        .photo_landscape {
            display: flex;
            margin: auto;
            max-width: 100%;
        }
    }

    .status-tags-container {

        .status-tag {
            background: rgba(0,0,0,0.7);
            padding: 2px 8px;
            color: #fff;
        }
    }

    span {
        margin-bottom: 10px;
    }
}

.card-img-top {
    width: 100%;
}

.font {

    .font-14 {
        font-size: 14px;
    }
}

.no-background {
    background: transparent;
}

.card-block {
    .card-title {
        text-align: center;
    }

    .mr-auto {
        justify-content: flex-start;
    }

    .ml-auto {
        justify-content: flex-end;
    }

    .status {
        position: relative;
    }
}

@media screen and (min-width: 320px) {
    .list-header {

        .search-box {
            margin-bottom: 0;
        }

        .tabs {
            padding: 0;
        }
    }
}

@media screen and (max-width: 500px){

    .frame {
        max-width: 296px;
    }
}

@media screen and (min-width: 576px) {

    .list-header {
        justify-content: space-between;
    }

    .search-box {
        order: 2;
    }

    .tabs {
        order: 1;
    }
}

@include media-breakpoint-down(md) {
    .card .card-footer{
        opacity: 1;
    }
}
