.multiSelect {

    button {
        border-radius: 0;
        background-image: none;
    }

    .select-button {
        width: 100%;
        text-align: left;
        position: relative;

        &:hover {
            background-image: none;
        }

        &::after {
            @extend .fa;
            content: '\f0d7';
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .caret {
        display: none;
    }

    .helperContainer {
        border-bottom: none;
    }

    .helperButton {
        border: none;
        border-radius: 0;
        height: auto;
        cursor: default;
    }

    .helperButton:not(.reset) {
        margin: 0;
    }

    .helperButton.reset {
        width: auto;
        margin: 0;
        border-radius: 0;
    }

    .line {
        padding: 0;
        display: flex;
        max-height: none;
        margin-bottom: 10px;

        button {
            width: auto;

            .fa {
                display: flex;
                margin: auto;
            }
        }

        .helper-button {
            padding: 5px 20px;
        }
    }

    .inputFilter {
        margin: 0;
        height: 100%;
        border-radius: 0;
    }

    .buttonClicked {
        box-shadow: none;
    }

    .checkboxLayer {
        border-radius: 0;
        min-width: initial;
    }

    .clearButton {
        border: none;
        background: inherit;
        width: auto;
        top: 3;

        &:focus {
            border: none !important;
            box-shadow: none !important;
        }

        &:hover {
            border: none;
            background-color: inherit;
        }
    }

    .multiSelectItem {
        width: 100%;
        min-width: initial;
    }

    .multiSelectItem:hover, .multiSelectGroup:hover {
        background-image: none !important;
        background-color: $brand-primary;
        border: none !important;
        cursor: default;
    }

    .multiSelectItem:not(.multiSelectGroup).selected {
        background-color: $brand-primary-dark;
        background-image: none;
        border: none;
        color: white;
    }

    .buttonLabel {

        .caret {
            display: none;
        }
    }

    .btn.btn-secondary {
        box-shadow: none;
    }
}
