.cg-notify-message {
    display: flex;
    padding: 0;
    
    .icon {
        width: 65px;
        position: relative;
        padding: 18px;

        .fa {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .template {
        padding: 18px 24px 18px 18px;
        font-size: 14px;
    }

    &.alert-success {
        background-color: $brand-success;
        color: #fff;
        
        .icon {
            background-color: $brand-success-dark;
        }

        .fa {
            @extend .fa-check;
        }
    }

    &.alert-warning {
        background-color: $brand-warning;
        color: #fff;
        
        .icon {
            background-color: $brand-warning-dark;
        }

        .fa {
            @extend .fa-exclamation;
        }
    }

    &.alert-danger {
        background-color: $brand-danger;
        color: #fff;

        .icon {
            background-color: $brand-warning-dark;
        }

        .fa {
            @extend .fa-times;
        }
    }
}