.profile-content {
    display: flex;
    background: #E9ECF5;
}

//Local Element
.no-spacing {
    padding: 0px;
    margin: 0px;
}

.font {

    .font-size-14 {
        font-size: 14px;
    }

    .font-size-16 {
        font-size: 16px;
    }

    .font-size-20 {
        font-size: 20px;
    }

    .font-weight-700 {
        font-size: 16px;
        font-weight: 700;
        color: #7f90a4;
    }

    .font-iconcolor {
        color: #7f90a4;
    }

    .font-headercolor {
        color: #578ebe!important;
    }

}

.background-white {
    background: #fff;
}

// Profile Status
// Responsive 992
.profile-image {
    width: 100%;
    height: 150px;

    img {
        width: 125px;
        height: 125px;
        border-radius: 50%;
    }
}

.profile-about {
    border-top: 1px solid #E9ECF5;

    .profile-about-text {

    }

}

.icon {
    .fa {
        width: 30px;
    }
}

// Profile Details
.profile-details {
    flex-wrap: wrap;

    .nav-link {
        @extend a;

        border-bottom: 1px solid $nav-tabs-border-color;
        cursor: pointer;

        &:hover {
            border-bottom: none;
            text-decoration: none;
        }
    }
}

//Navigation
//Responsive at 992 to hide the sidebar
.nav-tabs {
    border: 0px;

    ul {
        padding-left: 0px;
    }
}

.nav-list {
    list-style: none;

    li {
        padding-left: 5px;
        padding-right: 5px;
        justify-content: center;

        a {
            display: flex;
            margin-left: 5px;
            margin-right: 5px;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    }
}

.profile-details-body {
    .photo-landscape {
        width: 300px;
    }
}

@include media-breakpoint-only(xs) {

    .profile-content {
        display: flex;
        flex-direction: column;
    }

    .profile-details {
        border-bottom: 1px solid #E9ECF5;
        margin-bottom: 25px;
    }

    .box-2 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
        margin: 0px !important;
    }

    .nav-list {
        padding: 0px !important;

        li a {
            font-size: 12px;
        }
    }
}

@include media-breakpoint-only(sm) {

    .profile-content {
        display: flex;
        flex-direction: column;
    }

    .profile-details {
        border-bottom: 1px solid #E9ECF5;
        margin-bottom: 25px;
    }

    .box-2 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
        margin: 0px !important;
    }

    .nav ul {
        padding-left: 0px !important;
    }

}
