$default-form-color: #81D4FA;
$fa-times-color: #e74c3c;
$fa-pencil-color: #3F51B5;
$form-control-transition: all .25s ease-in-out 0s;

.model {
    background-color: #fff;
    cursor: default;

    .photo-lanscape {
        .crop-area {
            display: none;
        }
    }

    .specification-row {

        .form-control {
            height: auto !important;
        }

        .fa {
            cursor: pointer;
            margin: auto;
        }
    }

    .row {
        margin: 0;

        h5.title {
            text-align: left;
            font-weight: normal;
        }

        label {
            margin-bottom: 0;
        }

        .form-control {
            transition: $form-control-transition;
        }

        .row {
            margin: 0;
        }

        h3 {
            text-align: center;
            margin-bottom: 20px;
        }

        .create-area {
            padding-top: 60px;
            padding-bottom: 35px;
            border-right: 1px solid rgba(0, 0, 0, 0.125);

            .features {
                display: flex;
                justify-content: flex-end;
            }
        }

        .list-area {
            padding-top: 60px;
            padding-bottom: 35px;
            height: calc(100vh - 80px);

            .filter-area {
                .option-input,
                .reset-filter {
                    margin-left: $spacer-x * .25;
                }
            }

            .option-bar {
                display: flex;

                .check-form {
                    padding: 0;
                    margin-bottom: .625rem;
                    display: flex;
                    position: relative;

                    input.check-all-input {
                        display: none;
                    }

                    .options {
                        margin-left: 0;
                        padding: 0;
                        font-size: 1em;

                        .row {
                            justify-content: center;
                        }

                        .uncheck-option {
                            padding: 0;
                            margin: 0 1rem 0 0;
                            max-width: 5.8rem;
                            text-align: center;

                            &:hover {
                                cursor: pointer;
                                color: #2980b9;
                            }
                        }

                        .delete-option {
                            padding: 0;
                            max-width: 2.5rem;
                            text-align: right;
                            padding-right: 1rem;

                            .fa {
                                &:hover {
                                    color: $fa-times-color;
                                    cursor: pointer;
                                }
                            }
                        }
                        @media screen and (min-width: 320px) and (max-width: 341px) {
                            .uncheck-option {
                                margin-right: 10px;
                            }

                            .delete-option {
                                padding-right: .2rem;
                            }
                        }
                    }

                    label.check-all-title {
                        margin: 0;
                        padding: 0;

                        &:before {
                            font-family: 'FontAwesome';
                            content: '\f096';
                            margin-right: 5px;
                        }

                        &:hover {
                            color: #2980b9;
                            cursor: pointer;
                        }
                    }

                    input.check-all-input:checked {
                        & ~ label.check-all-title:before {
                            content: '\f14a';
                        }

                        & ~ .options {
                            display: block;
                            margin-left: 0;
                        }
                    }
                }
            }

            .list {
                .list-group {
                    height: calc(100vh - 265px);
                    overflow-y: auto;
                    overflow-x: hidden;
                    display: block;
                    border-top: 1px solid rgba(0, 0, 0, 0.125);
                    border-radius: none;

                    .list-group-item {
                        padding: .3rem 0;
                        margin: 0;
                        border: 1px solid transparent;

                        &:first-child,
                        &:last-child {
                            border-radius: 0;
                        }

                        .check-form {
                            display: flex;

                            input.check-model {
                                margin: auto;
                                display: none;
                            }

                            .check-label {
                                width: 100%;
                                background-color: brown;
                                border-radius: 4px;
                            }

                            label {
                                margin: auto;
                                width: 60px;
                                height: 50px;
                                display: flex;
                                cursor: pointer;

                                img {
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;
                                    object-fit: cover;
                                    margin: auto;
                                }

                                span {
                                    display: none;
                                }
                            }

                            input.check-form-input:checked ~ label {
                                display: flex;
                                position: relative;

                                img {
                                    opacity: .5;
                                }

                                span {
                                    display: block;
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }

                        .info {
                            text-align: left;
                            padding: 0;
                            display: flex;
                            flex-direction: column;

                            p {
                                margin-bottom: 0;
                                margin-right: auto;
                            }

                            .breed,
                            .description {
                                font-size: .7em;
                                color: #bdc3c7;
                            }
                        }

                        .features-area {
                            position: absolute;
                            top: 3px;
                            right: 8px;
                            padding: 0;
                            display: none;

                            .features {
                                margin: 0 0 0 auto;

                                label {
                                    margin: 0;
                                    padding: 0 2px;
                                    transition: all .3s;

                                    &:hover {
                                        cursor: pointer;

                                        .fa-pencil {
                                            color: $fa-pencil-color;
                                        }

                                        .fa-times {
                                            color: $fa-times-color;
                                        }

                                        .fa {
                                            transition: color .3s ease-in-out;
                                        }
                                    }
                                }
                            }

                            @include media-breakpoint-down(md) {
                                display: flex;
                            }
                        }

                        &:hover {
                            .features-area {
                                display: flex;
                            }
                        }

                        &.ng-enter {
                            animation: fadeIn .3s;
                        }

                        &.ng-leave {
                            animation: fadeOut .3s;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 32em) {
            * {
                font-size: .98em;
            }

            .layout-description {
                font-size: 12px;
            }
        }
        @media screen and (min-width: 25em) and (max-width: 64em) {
            .create-area-content {
                max-width: 16.25em;
            }

            .list-area-content {
                max-width: 17.813em;
            }
        }
        @media screen and (max-width: 35.94em) {
            .create-area {
                border-right: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            }

            .modal {
                .modal-dialog {
                    margin: 1.25rem;
                }
            }
        }
        @media screen and (min-width: 36em) {
            .create-area {
                height: calc(100vh - 80px);
                overflow-y: auto;
            }

            h5.title {
                font-size: 1em;
            }
        }
        @media screen and (min-width: 650px) {
            h5.title {
                font-size: 1.2em;
            }
        }
    }
}
