
$font-family-base: 'Lato', sans-serif;

$brand-primary: #3498db;
$brand-primary-dark: #2980b9;
$brand-success: #2ecc71;
$brand-success-dark: #27ae60;
$brand-warning: #f1c40f;
$brand-warning-dark: #f39c12;
$brand-danger: #e74c3c;
$brand-danger-dark: #c0392b;
$brand-info: $brand-primary;


$input-border-radius: 0;
$input-border-color: #bdc3c7;

$btn-border-radius: 0;

$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;
$btn-info-bg: $brand-info;
$btn-info-border: $brand-primary-dark;
$btn-success-bg: $brand-success;
$btn-success-border: $brand-success;
$btn-warning-bg: $brand-warning;
$btn-warning-border: $brand-warning;
$btn-danger-bg: $brand-danger;
$btn-danger-border: $brand-danger;


$form-success-color: $btn-success-bg;
$form-warning-color: $btn-warning-bg;
$form-danger-color: $btn-danger-bg;
