//Import Font Lato
@import url(https://fonts.googleapis.com/css?family=Lato);
@import "variables";
//Import node_modules packages
@import "node_modules/@cgross/angular-notify/angular-notify";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/animate.css/animate";
@import "node_modules/isteven-angular-multiselect/isteven-multi-select";
@import "node_modules/ng-img-crop/compile/unminified/ng-img-crop";

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}

.form-group {
    label {
        font-weight: 600;
        font-size: .8em;
    }
}

.form-control {
    @include placeholder {
        font-size: .8em;
        color: #9E9E9E;
    }
}

.alert {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.11);
    border-radius: 0;
}

.model {
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.layout-description {
    font-size: 12px;
    color: #bdc3c7;
}

.btn, .modal-content {
    border-radius: 0;
}

.male {
    color: $brand-primary;
}

.female {
    color: $brand-danger;
}

.nav-tabs .nav-link.active, .card, .card-img-top {
    border-radius: 0;
}

.page-item:first-child, .page-item:last-child {

    .page-link {
        border-radius: 0;
    }
}

.fa.add:hover {
    color: $brand-primary
}

.fa.remove:hover {
    color: $brand-danger
}

legend {
    font-size: 1.2rem;
    border-bottom: 1px solid #bdc3c7;
}

body {
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background: #E9ECF5;
}

.container-fluid {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    .box {
        width: 100%;
    }
    @import "components/header";
    @import "components/container";
}
// Scrollbar handler
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(3,3,3,0.4);

    &:hover {
        background: rgba(3,3,3,0.5);
    }
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(3,3,3,0.5);
}

// End scrollbar handler
@import "components/notify";
@import "components/multi-select";
@import "components/two-panels-layout";
@import "components/form";
@import "components/list";
@import "components/profile";
@import "components/file-uploader";
@import "components/loading-snippet";
@import "components/body/menu";
