footer {
    background-color: #1c2733;
    width: 100%;
    padding: 0 0 20px;

    .main {
        flex-direction: column;
        padding-top: 30px;

        .row {
            margin: auto;

            .nav-link {
                font-weight: 500;
                color: white;

                &:hover {
                    color: #ECF0F1;
                    text-decoration: underline;
                    transform: scale(1.5);
                    transition-duration: .5s;
                }
            }
        }
    }

    .social {
        margin-bottom: 1.5rem;
        padding-top: 30px;
    }

    .social:hover {
        transform: scale(1.1);
        transition-duration: .5s;
    }

    .social {
        transform: scale(0.8);
        color: white;
    }

    #social-fb:hover {
        color: #3B5998;
    }

    #social-tw:hover {
        color: #4099FF;
    }

    #social-gp:hover {
        color: #d34836;
    }

    #social-em:hover {
        color: #f39c12;
    }

    p {
        margin: 0;
        color: white;
    }
    // @include media-breakpoint-down(sm) {
    //     .row {
    //         font-size: 9px;
    //     }
    //
    //     .social {
    //         margin-bottom: .5rem;
    //         padding-top: .5rem;
    //     }
    //
    //     p {
    //         font-size: .6em;
    //         color: white;
    //     }
    // }
}
