@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss"; //Background
@import "pet";
@import "footer";
@import "navbar";
@import "pet-detail";
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}

.main-background {
    background-image: url("/image/default_assets/background-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: auto;
    position: relative;
}

.body {
    background-color: #F2F2F2;
    padding-bottom: 50px;

    .list {
        .tab {
            .title {
                padding: 20px 0 10px;

                p3 {
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .item {
                padding: 0;
                margin: 0;
                overflow: hidden;
                display: flex;

                &.even {
                    .img {
                        order: 1;
                    }

                    .card-group {
                        order: 2;
                    }
                }

                &.odd {
                    .img {
                        order: 2;
                    }

                    .card-group {
                        order: 1;
                    }
                }

                .img {
                    background-size: cover;
                    height: 350px;
                    width: 100%;
                    transition: all .7s ease;

                    .title-img {
                        font-family: Book Antiqua;
                        color: white;
                        padding-top: 20px;
                    }

                    &.best-seller {
                        background-image: url("/image/default_assets/promotion-1.jpg");
                    }

                    &.sale-off {
                        background-image: url("/image/default_assets/promotion-2.jpg");
                    }

                    &.new-item {
                        background-image: url("/image/default_assets/promotion-3.jpg");
                    }

                    &:hover {
                        -webkit-transform: scale(1.03);
                        transform: scale(1.03);
                    }

                    .button {
                        position: absolute;
                        bottom: 0;
                        left: 57%;
                        top: 88%;
                        transform: translate(-50%,-50%);

                        button {
                            background-color: transparent;
                            color: white;
                            font-size: 20px;
                            border: solid 2px;
                            border-radius: 5px;
                            padding: 5px 10px;

                            &:hover {
                                background-color: rgba(0,0,0,0.2);
                                transition: all .7s;
                            }
                        }
                    }
                }

                .card-group {
                    padding: 0 30px;
                    background-color: white;
                    max-height: 350px;

                    .carousel-control-next,
                    .carousel-control-prev {
                        width: 30px;

                        .fa {
                            position: absolute;
                            font-size: 30px;
                        }
                    }

                    .carousel-control-next {
                        .fa {
                            right: 5px;
                        }
                    }

                    .carousel-control-prev {
                        .fa {
                            left: 5px;
                        }
                    }

                    .item-detail {
                        padding: 0;

                        .card-item {
                            width: 100%;
                            max-height: 350px;

                            &:hover {
                                border-color: #689F38;
                                transition: all .7s;
                            }

                            .avatar {
                                text-align: center;

                                .card-img-top {
                                    width: 100%;
                                    height: 270px;
                                    object-fit: cover;
                                }
                            }

                            .card-block {
                                padding: 5px;

                                .describe {
                                    p6 {
                                        font-size: 14px;
                                    }
                                }

                                .price {
                                    h5 {
                                        color: #D32F2F;
                                        text-align: left;
                                        font-size: 1.25em;
                                        margin: 0;
                                    }

                                    p3 {
                                        font-size: 13px;
                                        padding-top: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-down (md) {
        .list {
            .tab {
                .item {
                    .img {
                        height: 250px;

                        .button {
                            button {
                                font-size: 15px;
                            }
                        }

                        .title-img {
                            h5 {
                                font-size: 1rem;
                            }
                        }
                    }

                    .card-group {
                        height: 250px;

                        .item-detail {
                            .card-item {
                                .avatar {
                                    .card-img-top {
                                        height: 170px;
                                    }
                                }

                                .card-block {
                                    .describe {
                                        p6 {
                                            font-size: 8px;
                                        }
                                    }
                                    .price {
                                        h5 {
                                            font-size: 0.9rem;
                                        }
                                        p3 {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.sale-off {
                    .item {
                        .img {
                            .title-img {
                                h5 {
                                    font-size: .8rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.slogan {
    color: white;
    //margin: auto;
    h1 {
        font-size: 5.5em;
        text-align: right;
        padding: 15% 11% 0;
        // color: red;
    }

    h3 {
        font-size: 1.75em;
        text-align: right;
        padding-right: 11%;
    }
    @include media-breakpoint-down(xs) {
        h1 {
            font-size: 2.5em;
            text-align: left;
            padding: 35% 7% 0;
        }

        h3 {
            font-size: 1.3em;
            text-align: left;
            padding-left: 8%;
        }
    }
}
//Navbar
