@import "variables";
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}

.navbar {
    transition: all .6s;
    padding: 0;

    .navbar-brand {
        color: white;
        font-weight: bold;
        margin: 0;
        padding: 6px 18px 6px 24px;

        &:hover {
            color: #ecf0f1;
        }
    }

    .collapse {
        padding: 0;

        .navbar-nav {
            /* Dropdown Button */
            .dropbtn {
                color: white;
                cursor: pointer;
                background-color: transparent;
                border: none;
                font-weight: bold;
                padding: 10px;
                height: 100%;
            }
            /* The container <div> - needed to position the dropdown content */
            .dropdown {
                position: relative;
                display: inline-block;
            }
            /* Dropdown Content (Hidden by Default) */
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: $transparent-navbar-bg;
                min-width: 160px;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                z-index: 1;

                p {
                    margin-bottom: 0;
                    padding-left: 10px;
                    color: white;
                }
            }
            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                padding: 5px 20px;
                color: white;
                font-size: .8em;

                &:hover {
                    color: black;
                }
            }
            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }
            /* Show the dropdown menu on hover */
            .dropdown:hover .dropdown-content {
                display: block;
            }
        }
    }
    @include media-breakpoint-down(md) {
        .collapse {
            height: 48px;
            .navbar-nav{
                margin-left: 40px;
            }
        }
    }
}

.black-navbar,
.transparent-navbar {
    background-color: $transparent-navbar-bg;

    button {
        color: white;
    }

    .login {
        .nav-link {
            color: white;
            font-size: 1.2rem;
            font-weight: bold;

            &:hover {
                color: grey;
                background-color: white;
                transition-duration: .5s;
            }
        }
    }

    .search-box {
        padding-top: 5px;
        padding-bottom: 5px;

        .input-group {
            .form-control {
                border-right: none;
                background-color: transparent;
                border-color: white;
                color: white;
                transition: all .3s;
                @include placeholder {
                    color: white;
                }

                &:focus {
                    background-color: white;
                    color: black;
                }
            }

            .input-group-btn {
                button {
                    background-color: transparent;
                    border-color: white;
                    border-left: none;

                    label {
                        margin: auto;
                        color: white;
                    }

                    &:hover {
                        background-color: white;

                        label {
                            color: black;
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-down (md){
        .login {
            .nav-link {
                margin-right: 30px;
                padding-left: 15px;
            }
        }
    }
}

.black-navbar {
    background-color: black;

    .collapse {
        .navbar-nav {
            .dropdown-content {
                background-color: black;
            }
        }
    }
}
