.body {
    background-color: #f2f2f2;

    .bg-white {
        background-color: white;
    }

    .container {
        padding-top: 50px;
        background-color: white;

        .link {
            padding: 10px 0;
        }

        .row {
            padding-bottom: 40px;

            .img {
                .img-card {
                    padding: 0;

                    .img-responsive {
                        width: 100%;
                        height: 400px;
                        object-fit: cover;
                    }
                }

                .card-group {
                    height: 100px;
                    padding-top: 5px;

                    .carousel {
                        .carousel-inner {
                            .img-mini {
                                padding: 5px;

                                .card-item {
                                    .avatar {
                                        .card-img-top {
                                            width: 100%;
                                            height: 80px;
                                            object-fit: cover;
                                        }
                                    }

                                    &:hover {
                                        background-color: black;
                                    }
                                }
                            }
                        }
                    }

                    .carousel-control-next,
                    .carousel-control-prev {
                        width: 30px;

                        .fa {
                            position: absolute;
                        }
                    }

                    .carousel-control-next {
                        .fa {
                            right: 0;
                        }
                    }

                    .carousel-control-prev {
                        .fa {
                            left: 0;
                        }
                    }
                }
            }

            .detail {
                .title {
                    h1 {
                        margin-bottom: 30px;
                    }
                }

                .price {
                    h3 {
                        color: #D32F2F;
                        margin-bottom: 20px;
                    }
                }

                .shop {
                    h6 {
                        padding-top: 3px;
                    }

                    a {
                        padding-left: 5px;
                    }
                }
            }
        }

        .row2 {
            .img {
                img {
                    width: 100%;
                    padding-bottom: 20px;
                }
            }

            .card {
                margin-bottom: 20px;

                .item {
                    .card-item {
                        margin-bottom: 20px;

                        &:hover {
                            border-color: #689F38;
                            transition: all .7s;
                        }

                        .img {
                            .card-img-top {
                                width: 100%;
                            }
                        }

                        .card-block {
                            .price {
                                h5 {
                                    color: #D32F2F;
                                }
                            }
                        }
                    }
                }
            }
        }

        .comment {
            padding-bottom: 0;

            .form-group {
                padding-top: 20px;
            }
        }
    }
    @include media-breakpoint-down (md) {
        .container {
            .row {
                .detail {
                    .title {
                        h1 {
                            font-size: 1.7rem;
                        }
                    }
                }
                .img {
                    .card-group {
                        .carousel {
                            .carousel-inner {
                                .img-mini {
                                    .card-item {
                                        .avatar {
                                            .card-img-top {
                                                height: 50px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .row2 {
                .card {
                    h4 {
                        font-size: 0.9rem;
                    }
                    .item {
                        .card-item {
                            .card-block {
                                .describe {
                                    p6 {
                                        font-size: 0.5rem;
                                    }
                                }
                                .price {
                                    h5 {
                                        font-size: 0.9rem;
                                        margin-bottom: 0;
                                    }
                                    .sale-off {
                                        p3 {
                                            font-size: 0.7rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
