label:hover {
    cursor: default;
}

.pet-ad {
    .carousel-item {
        background-color: #424242;
        margin-top: 25px;

        .d-block {
            margin: 25px auto 0;
            height: 400px;
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        border-radius: 20px;
        width: 40px;
        height: 40px;
        margin: 16% 5%;
        background: rgba(0,0,0,0.5);
    }

    .carousel-control-next {
        .carousel-control-next-icon {
            margin-left: 8px;
        }
    }
    @include media-breakpoint-down(sm) {
        .carousel-item {
            background-color: #424242;

            .d-block {
                margin: 25px auto 0;
                height: 200px;
            }
        }

        .carousel-control-next,
        .carousel-control-prev {
            margin: 130px 80px;
        }
    }
    @include media-breakpoint-down(sm) {
        .carousel-control-next,
        .carousel-control-prev {
            width: 20px;
            height: 20px;
            margin: 130px 10px;
        }
    }
    @include media-breakpoint-down(xs) {
        .carousel-item {
            background-color: white;

            .d-block {
                margin: 30px auto 0;
            }
        }

        .carousel-control-next,
        .carousel-control-prev {
            width: 20px;
            height: 20px;
            margin: 130px 10px;

            .carousel-control-next-icon,
            .carousel-control-prev-icon {
                width: 10px;
            }
        }

        .carousel-control-next {
            .carousel-control-next-icon {
                margin-left: 4px;
            }
        }
    }
    @include media-breakpoint-down (md) {
        .carousel-item {
            .d-block {
                height: 280px;
            }
        }
        .carousel-control-next,.carousel-control-prev {
            margin-top: 20%;
        }
    }
}

.ad-accessories {
    .carousel-item {
        .d-block {
            margin-top: 0;
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        margin-top: 14%;
    }
    @include media-breakpoint-down(sm) {
        .carousel-control-next,
        .carousel-control-prev {
            margin: 35% 1%;
        }
    }
}

.pet-body {
    margin-top: 5%;
    background-color: #F2F2F2;

    .row {
        .pet-sidebar {
            background-color: #F2F2F2;
            padding-top: 15px;
            @include media-breakpoint-up(sm) {
                padding-right: 0;
            }

            .sort {
                .cat-bred,
                .dog-bred,
                .pet,
                .price {
                    button {
                        border: none;
                        background-color: white;
                        width: 100%;
                        height: 50px;
                        text-align: left;
                        padding-left: 25px;
                        color: black;

                        &:focus {
                            outline-color: transparent;
                        }

                        &:hover {
                            background: rgba(0,0,0,0.8);
                            color: white;
                        }
                    }

                    .collapse, .collapsing {

                        .card {
                                border: none;
                                border-radius: 0;
                                padding: 0 15px;

                            .form {
                                border-bottom: 1px solid #D2D2D2;

                                &:last-child {
                                    border-bottom: none;
                                }
                            }

                            .form-check {
                                margin-bottom: 0;
                                padding: 8px;
                            }

                            .form-check:hover, .active {
                                background: rgba(0,0,0,0.8);
                                color: white;
                            }

                            .type-btn:hover {
                                background: rgba(0,0,0,0.8);
                                color: white;
                            }
                        }
                    }

                    hr {
                        margin: 0;
                        color: grey;
                    }
                }
            }
        }

        .main-item {
            .page-number-and-sort {
                margin-right: -2px;
                padding: 15px 5px 15px 15px;

                .custom-select {
                    padding: 0 40px 0 20px;
                    border-radius: 0;
                }
            }

            .item {
                display: flex;

                .card-group {
                    padding: 0;

                    .item-detail {
                        padding: 0;

                        .card-item {
                            width: 100%;
                            max-height: 350px;

                            &:hover {
                                border-color: #689F38;
                                transition: all .7s;
                            }

                            .avatar {
                                text-align: center;

                                .card-img-top {
                                    width: 100%;
                                    height: 270px;
                                    object-fit: cover;
                                }
                            }

                            .card-block {
                                padding: 5px;

                                .describe {
                                    p6 {
                                        font-size: 14px;
                                    }
                                }

                                .price {
                                    h5 {
                                        color: #D32F2F;
                                        text-align: left;
                                        font-size: 1.25em;
                                        margin: 0;
                                    }

                                    p3 {
                                        font-size: 13px;
                                        padding-top: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(sm) {
            .pet-sidebar {
                padding-right: 15px;
                padding-top: 15px;
            }
        }
        @include media-breakpoint-down(xs) {
            .pet-sidebar {
                padding-top: 40px;
            }

            .main-item {
                .page-number-and-sort {
                    .custom-select {
                        width: 100%;
                    }
                }

                .pet-items {
                    .card-group {
                        .item-detail {}
                    }
                }
            }
        }
    }

    .show-more-btn {
        button {
            background-color: white;
            border: solid 1px #689F38;
            border-radius: 6px;
            margin: 15px 0;
            padding: 8px;

            &:hover {
                background-color: #689F38;
                color: white;
                border-color: #527c2c;
                transition-duration: .5s;
            }
        }
    }
    @include media-breakpoint-down (md) {
        .row {
            .main-item {
                .item {
                    .card-group {
                        .item-detail {
                            .card-item {
                                .avatar {
                                    .card-img-top {
                                        height: 170px;
                                    }
                                }
                                .card-block {
                                    .describe {
                                        p6 {
                                            font-size: 10px;
                                        }
                                    }
                                    .price {
                                        h5 {
                                            font-size: 1em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .pet-sidebar {
                .sort {
                    .price {
                        .collapse {
                            .card {
                                .form-check {
                                    .form-check-label {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
