// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

.background {
    background-image: url("/image/default_assets/login-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.container {
    height: 100%;

    .card {
        width: 500px;
        background-color: rgba(0,0,0,0.5);

        .card-block {
            .form-group {
                label {
                    color: white;
                }

                button {
                    margin-bottom: 10px;
                }

                .back-homepage {
                    text-align: center;
                    padding-top: 10px;
                    font-size: 20px;

                    &:hover {
                        transform: scale(1.2);
                        transition-duration: .5s;
                    }
                }

                .d-block {
                    color: white;
                }
            }
        }
    }
}

.navbar {
    background-color: rgba(0,0,0,0.4);

    .nav-link {
        color: white;
        font-size: 1.2rem;
        font-weight: bold;

        &:hover {
            color: #ECF0F1;
            text-decoration: underline;
        }
    }
}
