@media screen and (max-width: 62.5em) {
    .container-fluid .page-container .page-sidebar {
        position: fixed;
        z-index: 999;
        top: 60px;
        left: -100%;
        height: calc(100vh - 60px);
        transition: all .7s;
    }

    input.menu:checked {
        & ~ .container-fluid .page-container .page-sidebar {
            left: 0;
        }

        & ~ .container-fluid .fade-body {
            display: block;
            height: 100vh;
            width: 100%;
            margin-bottom: 0;
            z-index: 1;
            background: rgba(0,0,0,0.6);
            position: fixed;
            transition: all 0.3s;
        }
    }
}
@media screen and (min-width: 1001px) {
    .header .logo .menu-area {
        display: none;
    }
}
