.page-sidebar {
    width: 235px;
    float: left;
    margin-bottom: 10px;
    background: #fff;

    .sidebar-font {
        font-size: 14px;
        font-weight: 400;
        color: #678098;
    }

    .fa {
        color: #678098;
        font-size: 20px;
        font-weight: 300;
    }

    .sidebar-menu {
        list-style: none;
        padding: 0;
        width: 100%;
        margin-bottom: 0;

        .nav-link {
            span {
                margin-left: 10px;
            }
        }

        .nav-item {
            padding-top: 5px;

            &:first-child {
                padding-top: 15px;
            }

            &:last-child {
                padding-bottom: 15px;
            }
        }

        .sidebar-item {
            display: flex;
            flex-direction: column;
            position: relative;
            cursor: default;
            @mixin shadow() {
                box-shadow: rgba(1, 0, 1, 0) -1px 2px 10px, rgba(1, 1, 0, 0.1) -3px 2px 4px;
            }

            .nav-link {
                color: #678098;
                position: relative;

                .arrow {
                    position: absolute;
                    right: 25px;
                    top: 50%;
                    transform: translate(50%, calc(-50%));

                    .fa {
                        color: #678098;
                        font-size: 14px;
                    }
                }
            }

            .nav-link.active,
            .nav-link:hover {
                background: #F2F6F9;
                cursor: pointer;
                transform: scale(1.0);

                .fa,
                .title,
                span {
                    color: #5b9bd1;
                }
            }

            a {
                box-shadow: none;
                display: flex;
                padding: 8px 14px 5px 16px;
                margin-top: auto;
                margin-bottom: auto;
                height: 37px;
                width: 100%;

                a:active,
                a:focus,
                a:hover {
                    background: #F2F6F9;
                    transform: scale(1.0);
                    @include shadow();

                    li:hover {
                        background: #F2F6F9;
                        transform: scale(1.0);
                        cursor: pointer;
                        @include shadow();
                    }
                }

                .title {
                    margin-bottom: 8px;
                    color: #678098;
                }
            }

            .sub-menu {
                display: flex;
                flex-direction: column;
                list-style: none;
                margin: 0;
                padding: 0;

                .nav-link {
                    font-size: 14px;
                    padding-left: 34px;
                }
            }
        }
    }
    @media screen and (max-width: 62.5em) {
        background: rgba(59,63,81,0.85);

        .sidebar-menu {
            .sidebar-item {
                .nav-link,
                .title {
                    color: white;
                }

                .nav-link {
                    .arrow .fa,
                    .title,
                    span {
                        color: white;
                    }

                    &:hover {
                        background: rgba(48,51,65,1);
                        .fa, span, .title {
                            color: #EFEFEF;
                        }
                    }

                    &.active {
                        background: rgba(48,51,65,1);
                        span, .title {
                            color: #EFEFEF;
                        }
                    }
                }
            }
        }

        .fa {
            color: white;
        }
    }
}
